.container{
    margin:0;
    padding:0;
    width:100vw; 
    height:100vh; 
    display: flex;
    flex-direction: row;
    
}

.content{
    position: absolute;
    right:0;
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.content .title{
    color:black;
}

.secondSection {
    width:40%;
    height:100%;
    color:var(--text-color);
    
}
.circle{
    height: 100%;
    width:40%;
    border-radius: 0 50% 50% 0 ;
    background-color: var(--main-color);
    position: absolute;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.circle .title{
    margin-bottom:1em;
}
.title {
    width:fit-content;
    text-align: center;
    margin:1.5em;
    
}

.sentence{
    width:fit-content;
}

.labels{
    width:fit-content;
    height: auto;
    text-align: left;
    display: flex;
    gap:0.5em;
    align-items: center;
    padding:0.5em;
    margin-top:1em;
    
}

input {
    width:20em;
    height:2em;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding-left:1em;
}

.btn {
    display: block;
    margin:5em;
    text-align: center;
    background-color: var(--main-color);
    color: var(--text-color);
    border:none;
    padding:0.5em 1em;
    font-size: 1em;
    border-radius: 0.5em;
    width:fit-content;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}


