.container{
  min-height:10px;
  width: 90%;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
  border: none;
  position: relative;
  gap: 2vw;
  padding-bottom:2vw;
  margin-left:6vw;
}

.scrollWrapper {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 2em;
  margin-left: 6vw;
  gap: 1vw;
  position: relative;
  white-space: nowrap;
}

.scrollContainer {
  margin-top:2em;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2vw;
  padding-bottom: 2vw;
  width: 90%;
  margin-left: 6vw;
  white-space: nowrap;
  scrollbar-width: none; 
}

.messageWrapper {
  width: 250px;
  height: 170px;
  flex-shrink: 0;
}

