.border{
    border: 1px solid rgb(223, 97, 255);
}


img{
    width:80px;
    height:80px;
    margin:1vw;
}

.divider{
    height:1px;
    width:100%;
    display: block;
    background-color: rgb(223,97,255);
}