.main_container {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  width: 100%
}

.userMessages, .worldMessages{
  width: 90%;
  margin-top: 2em;
  display: flex;
  border: none;
  position: relative;
  justify-content: space-around;
  gap: 2vw;
  padding-bottom:2vw;
  margin-left:4em;
}

/* .worldMessages{
  width: 90%;
  margin-top: 2em;
  display: flex;
  border: none;
  position: relative;
  justify-content: space-between;
  gap: 2vw;
  padding-bottom:2vw;
  margin-left:4em;
} */

.title{
  position: relative;
  width:fit-content;
  margin:0;
  margin-left:4em;
}
