.main_container {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  width: 100%
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content_area {
  flex-grow: 1;
}

.title{
  margin-left:4em;
  margin-top: 2em;
}