.capsule{
    width: 150px;
    height: 100px;
    resize: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.header {
    text-align:center;
    overflow: hidden;
    padding: 5px;
    height: 15px;
    margin-top:6px;
}

.title {
    width: 80%;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
