.Message {
    width: 250px;
    height: 170px;
    resize: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2px;
    height: 25px;
    margin-top:6px;
}

.title {
    width: 80%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.icons{
    font-size: 1em;
}
.content {
    width:85%;
    height:95px;
    display: block;
    gap: 1vw;
    padding: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
width: 100%;
}