.Message {
    width: 250px;
    height: 170px;
    resize: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    height: 15px;
    margin-top:6px;
}

.title {
    width: 80%;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.icons{
    font-size: 1em;
}
.content {
    width:90%;
    height:105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
}