.Navbar{
    margin:0;
    padding:0;
    position:relative;
    height:4.5em;
    width:100%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    font-family:inter;
}

.logo {
    position: absolute;
    top:0;
    left:0;
    height:3em;
    width:3em;
    font-size: 24px;
    display: block;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin:0;
    padding:0;
}

.links {
    display: flex;
    gap:1em;
    position: absolute;
    right:1em;
    cursor:pointer;
}

